<!DOCTYPE html>
<html lang="en">
{% load static %}
{% url 'home_page' as home_page_url %}
{% url 'books:list' as books_list_url %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="desc">
    <meta name="keywords" content="content">
    <title>{% block title %} AuzCoder Books {% endblock %}</title>

    <!-- Bootstrap CSS -->
<!--    https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist-->
<!--    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" >-->
<!--    <link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
</head>
<body class="">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="navbar-brand ms-5" src="https://s.gr-assets.com/assets/react_components/currently_reading/icn_default_CR_ltrail-16f28d39654104ceb329648a474943eb.svg">
    <a class="navbar-brand me-5" href="{% url 'landing_page' %}">Goodreads clone</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link mx-2 {% if request.path == home_page_url %} active {% endif %}" aria-current="page" href="{{ home_page_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == books_list_url %} active {% endif %}" aria-current="page" href="{{ books_list_url }}">Books</a>
        </li>
      </ul>

    <div class="mx-5 d-flex">
      {% if request.user.is_authenticated %}
        <img class="profile_pic_admin mt-2 mt-lg-0" src="{{ user.profile_picture.url }}" alt="{{ user.profile_picture.name }} ">
        <ul class="navbar-nav me-5 d-block">
          <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ request.user.username.title }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'users:profile' %}">Profil</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'users:logout' %}">Chiqish</a></li>
              </ul>
          </li>
        </ul>
      {% else %}
        <div class="me-5">
          <a class="btn btn-outline-primary" href="{% url 'users:login' %}">Kirish</a>
          <a class="btn btn-outline-success" href="{% url 'users:register' %}">Ro'yxatdan o'tish</a>
        </div>
      {% endif %}
    </div>

    </div>
  </div>
</nav>


<div class="container mt-5">
    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    {% endif %}
    <div class="mt-5">
        {% block content %}

        {% endblock %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>